[submodule "WebServer/ProxyServer"]
	path = WebServer/ProxyServer
	url = https://github.com/whatDeepak/ProxyServer.git
[submodule "Provisioning/Terraform"]
	path = Provisioning/Terraform
	url = https://github.com/whatDeepak/Terraform.git
[submodule "Orchestration/Kubernetes"]
	path = Orchestration/Kubernetes
	url = https://github.com/whatDeepak/Kubernetes.git
